<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> 客 戶 資 料 管 理 頁 面 </title>
<link th:href="@{/css/style-bgcolor.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1> 符 合 資 格 的 客 戶 列 表 </h1>
		</div>
		
		<div class="row">
			<table class="table table-hover" th:if="${!customers.empty}">
				<thead>
					<tr>
						<th scope="col"> # </th>
						<th scope="col"> 公 司 名 稱 </th>
						<th scope="col"> 聯 絡 人 </th>
						<th scope="col"> 郵 遞 區 號 </th>
						<th scope="col"> 聯 絡 電 話 </th>
						<th scope="col"> 國 家 / 州 </th>
						<th scope="col"> 城 市 </th>
						<th scope="col"> 功能1 </th>
						<th scope="col"> 功能2 </th>
						<th scope="col"> 功能3 </th>
						<th scope="col"> 功能4 </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<td th:text="${customerStat.count}"></td>
						<td th:text="${customer.companyName}"></td>
						<td th:text="${customer.contactName}"></td>
						<td th:text="${customer.postalcode}"></td>
						<td th:text="${customer.phonenumber}"></td>
						<td th:text="${customer.state}"></td>
						<td th:text="${customer.city}"></td>
						<td><a class="btn btn-primary" th:href="@{/edit-customer/} + ${customer.id}">修改資料</a></td>
						<td><a class="btn btn-primary" th:href="@{/edit-customer-details/} + ${customer.id}">編輯訊息</a></td>
						<td><a class="btn btn-danger" th:href="@{/delete-customer/} + ${customer.id}">移除資料</a></td>
						<td><a class="btn btn-success" th:href="@{/show-customer-details/} + ${customer.id}">顯示訊息</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row" th:if="${customers.empty}">
			<h3> 資料表中沒有符合資格的客戶！ </h3>
		</div>
		
		<div class="row-sm-2">
			<a th:href="@{/}" class="btn btn-warning"> 回 前 一 頁 </a>
		</div>
	</div>
</body>
</html>