<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> 評 論 欄 </title>
<link th:href="@{/css/style-bgcolor.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			</div>
			
			<div class="col-sm-8">
				<h1> 請 輸 入 您 的 評 價 與 建 議 </h1>
				
				<form action="#" th:action="@{/process-customer-form-comment}" th:object="${comment}" method="post">
				
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}">
					</div>
								
					<div class="form-group">
						<label> 客 戶 </label>
						<label>Customer</label>
						<select class="form-control" th:field="*{customer.id}">
							<option th:each="customer : ${customers}"
									th:value="${customer.id}"
									th:text="${customer.companyName}">
							</option>
						</select>
					</div>
					
					<div class="form-group">
						<label> 評 價 與 建 議 </label>
						<label>Content</label>
						<input type="text" class="form-control" th:field="*{content}">
					</div>
					
					
					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value=" 確 定 ">
						</div>
						<div class="col">
							<a th:href="@{/}" class="btn btn-warning float-right"> 回 前 一 頁 </a>
						</div>
						
					</div>
				</form>
			</div>
			
			
			<div class="col-sm">
			</div>
			
		</div>
	</div>
</body>
</html>