<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title> 客 戶 資 料 管 理 頁 面 </title>
<link th:href="@{/css/style-bgcolor.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/all.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1> 可 瀏 覽 的 客 戶 列 表 </h1>
		</div>
		<div class="row">
			<table class="table table-hover" th:if="${!customers.empty}">
				<thead>
					<tr>
						<th scope="col"> # </th>
						<th scope="col"> 公 司 名 稱 </th>
						<th scope="col"> 聯 絡 人 </th>
						<th scope="col"> 郵 遞 區 號 </th>
						<th scope="col"> 聯 絡 電 話 </th>
						<th scope="col"> 城 市 </th>	
						<th scope="col"> 區 域 </th>	
						<th scope="col"> 是否接受寄送 </th>					
						<th sec:authorize="hasRole('EMPLOYEE')" scope="col"> 功能1 </th>
						<th sec:authorize="hasRole('ADMIN')" scope="col"> 功能2 </th>
						<th sec:authorize="hasRole('CLIENT')" scope="col">登入</th>					
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<td th:text="${customerStat.count}"></td>
						<td th:text="${customer.companyName}"></td>
						<td th:text="${customer.contactName}"></td>
						<td th:text="${customer.postalcode}"></td>
						<td th:text="${customer.phonenumber}"></td>
						<td th:text="${customer.city}"></td>
						<td th:text="${customer.district}"></td>
						<td th:text="${customer.allInclusive} ? '是' : '否'"></td>				
						<td sec:authorize="hasRole('EMPLOYEE')"><a class="btn btn-primary" th:href="@{/edit-customer/} + ${customer.customerId}">修改資料</a></td>
						<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" th:href="@{/delete-customer/} + ${customer.customerId}">移除資料</a></td>																							
						<td sec:authorize="hasRole('CLIENT')"><a class="btn btn-success" th:href="@{/add-user-to-customer/} + ${customer.customerId}">登入</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="row" th:if="${customers.empty}">
			<h3> 資料表中沒有可以顯示的客戶！ </h3>
		</div>
		
		<div class="row-sm-2">
			<a th:href="@{/}" class="btn btn-warning"> 回前一頁 </a>
		</div>
	</div>
</body>
</html>