<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> 客 戶 資 料 輸 入 表 單 </title>
		<link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
	 	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style-bgcolor.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/all.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <script th:src="@{/resources/js/popper.min.js}"></script>
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
    <!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">eshop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">首頁</a></li>                         
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">會員</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                            <li><a class="dropdown-item" th:href="@{/show-cart}">購物車</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div class="container">
		<div class="row">
			<div class="col-sm">
			</div>
			
			<div class="col-sm-8">
				<h1> 新 增 客 戶 個 人 資 料 </h1>
				
				<form action="#" th:action="@{/process-customer-form}" th:object="${customer}" method="post">
				
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{customerId}">
					</div>
								
					<div class="form-group">
					    <label> 公 司 名 稱 </label>
						<label>Company Name</label>
						<input type="text" class="form-control" th:field="*{companyName}">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>												
					</div>
					
					<div class="form-group">
						<label> 聯 絡 人 </label>
						<label>Contact Name</label>
						<input type="text" class="form-control" th:field="*{contactName}">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('contactName')}" th:errors="*{contactName}"></div>												
					</div>
					
					<div class="form-group">
						<label> 郵 遞 區 號 </label>
						<label>Postal Code</label>
						<select name="postalcode" class="form-control">
							<option th:each="postalcode : ${T(main.model.Customer.Postalcode).values()}"
									th:value="${postalcode}" th:text="${postalcode}"></option>
						</select>
					</div>					
					
					<div class="form-group">
						<label> 聯 絡 電 話 </label>
						<label>Phone Number</label>
						<input type="text" class="form-control" th:field="*{phonenumber}">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}"></div>					
					</div>	
					
					<div class="form-group">
						<label> 城 市 </label>
						<label>City</label>
						<select name="city" class="form-control">
							<option th:each="city : ${T(main.model.Customer.City).values()}"
									th:value="${city}" th:text="${city}"></option>
						</select>
					</div>									
					
					<div class="form-group">
						<label> 區 域 </label>
						<label>District</label>
						<input type="text" class="form-control" th:field="*{district}">
					    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('district')}" th:errors="*{district}"></div>												
					</div>
					
					<div class="form-group">
						<label>是否願意接受我們寄送的優惠訊息</label>
						<input type="checkbox" th:field="*{allInclusive}">
					</div>
																				
					<div class="form-row">
						<div class="col">
							<input class="btn btn-success" type="submit" value=" 確 定 " onclick="myFunction()">																	
							<script>
								function myFunction() {
								  let text; 
								  if (confirm("表單確認送出嗎？") == true) {
									  window.alert(text = "表單會在正確填寫後送出");
									  } else {
										  window.alert(text = "取消送出表單");
										  event.preventDefault();
										  return false;
									   }						
								   }
							</script>
						</div>
						<div class="col">
							<a th:href="@{/show-customer-data}" class="btn btn-warning float-right"> 返回 </a>
						</div>					
					</div>					
				</form>
			</div>
			<div class="col-sm">
			</div>			
		</div>
		</div>
		<!-- Call to action-->
        
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; eshop 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>