@charset "UTF-8";


html, body {
	background-image: url("../img/gifbg1.gif");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.container {
	height: 100%;
	align-content: center;
}

.card {
	width: 350px;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: rgba(0,0,0,0.6) !important;
}

.card-header {
	color: rgb(0, 0, 0);
	text-align: center;
}

.input-group-prepend span {
	width: 40px;
	background-color: blue;
	color: rgb(0, 0, 0);
	border: 0 !important;
}

.login-button {
	color: rgb(255, 120, 0);
	background-color: blue;
	width: 100px;
}

.login-button:hover {
	color: blue;
	background-color: white;
}

.footer {
	color: rgb(154, 153, 150);
}

.footer a {
	margin-left: 40px;
}

.alert-login {
	background-color: red;
	border: 0 !important;
	color: white;
}